<!-- Nav -->

<style>
/* for dropdown menu */
/* .desktop-navigation li .dropdown {
  float: left;
} */
/* Dropdown button */
.desktop-navigation li .dropbtn {
  /* font-size: 16px; */
  border: none;
  outline: none;
  /* color: white; */
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}

.desktop-navigation li ul.dropdown-content {
  position: absolute;
  background-color: #ffffff !important;
  width: inherit;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  margin-left: none !important;
  display: inline-block;
}

.desktop-navigation li ul.dropdown-content li {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  display: none;
}

.desktop-navigation li ul li {
  display: flex;
  width: inherit;
  float:none !important;
  height:auto;
  line-height:40px;
  text-align: left;
  margin-left: 0;
  border-left: none;
}

.desktop-navigation li ul li:first-child {
  padding-top: 1em;
}

.desktop-navigation li .dropdown-arrow {
  height: 0;
  width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffffff;
  position: relative;
  top: 45px;
  left: 350px;
}

.desktop-navigation li:hover > ul.dropdown-content li {
    display: flex;
    flex-direction: column;
}

.desktop-navigation li:hover > .dropdown-arrow {
  top: 35px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
  border-top: 10px solid transparent;
}
</style>

<nav class="desktop" style="background-color: #000000">
  <ul>
    {{- $label_text := (.Site.Params.label.text | default .Site.Title) }}
    <li>
      <a class="logo" href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + h)">
        <img
          src="{{.Site.Params.label.icon | relURL}}"
          alt="{{ $label_text }}"
          width="{{.Site.Params.label.iconHeight | safeHTML }}"
          height="{{.Site.Params.label.iconWidth | safeHTML }}"
        ></img>
        <h3 style="margin-bottom: 0; color:white"> <!-- hard coded color to not change with dark/light mode -->
          <strong>{{.Site.Params.label.title | default .Site.Title | markdownify}}</strong>
        </h3>
      </a>
    </li>
    <li class="toggle-container">
      <input type="checkbox" id="switch" />
      <label for="switch">
        <i id="darkIcon" data-feather="moon"></i>
        <i id="lightIcon" data-feather="sun"></i>
      </label>
    </li>
  </ul>
  {{- $currentPage := . }}
  <ul class="desktop-navigation">
    {{ range .Site.Menus.main }}
    {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
    {{- $page_url:= $currentPage.Permalink | absLangURL }}
    {{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
    <li>
      {{ if .HasChildren }}
      <!-- <button class="dropbtn">{{ .Name }}<i class="fa fa-caret-down" style="color: #ffffff;"></i></button> -->
      <a class="dropdown" href="#">{{ .Name }}<i class="fa fa-caret-down" style="color: #ffffff;"></i></a>
      <ul class="dropdown-content">
      {{ range .Children }}
      <li><a href="{{ .URL }}"><i class="{{ .Identifier }}">&nbsp;</i>{{ .Name }}</a></li>
      {{ end }}
      </ul>
      {{ else }}
      <a 
        href="{{ .URL }}" title="{{ .Name | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
        {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}
      >
      {{- if .Pre }}
      <i data-feather="{{ .Pre | safeHTML }}"></i>
      {{ end }} 
        <span {{- if eq $menu_item_url $page_url }} class="menu-active" {{- end }}>
          {{- if .Title }}
          {{ .Title | safeHTML }}     
          {{ end }}
        </span>
      </a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  <ul class="mobile-navigation">
    <li>
      <button id="menuOpen" onclick="openMobile()" aria-label="Menu closed">
        <i data-feather="menu"></i>
      </button>
      <button id="menuClose" onclick="openMobile()" aria-label="Menu opened">
        <i data-feather="x"></i>
      </button>
    </li>
  </ul>
</nav>
<!-- ./ Nav -->

<!--Sidebar -->
<aside class="sidebar" id="mobileNav" style="display: none;">
    <nav>
      {{- $currentPage := . }}
      <ul>
        {{ range .Site.Menus.main }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
        {{- $page_url:= $currentPage.Permalink | absLangURL }}
        {{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
        <li>
          <a href="{{ .URL }}" title="{{ .Name | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
          {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
            <span {{- if eq $menu_item_url $page_url }} class="menu-active" {{- end }}>
              {{- if .Pre }}
              <i data-feather="{{ .Pre | safeHTML }}"></i>
              {{ end }} 
              {{- if .Title }}
              {{ .Title | safeHTML }}     
              {{ end }}
            </span>
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
</aside><!-- ./ Sidebar -->